!!!
%html
%head
	= metamagic site: Setting.first.title, title: [:site, :title], separator: " — ", keywords: [:keywords, Setting.first.keywords], description: Setting.first.description
	%meta{:charset => "utf-8"}
	%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "	viewport"}
	
	= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track' => true	
	= javascript_include_tag 'application', 'data-turbolinks-track' => true	
	
	= csrf_meta_tags

=render 'layouts/menu'

#main
	=yield
	=render 'layouts/second_footer'

= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
= javascript_include_tag 'frontload'


