!!!
%html
  %head
    =javascript_include_tag 'front/head_js_files.js', :cache => 'social_files'
    = metamagic site: Setting.first.title, title: [:site, :title], separator: " — ", keywords: [:keywords, Setting.first.keywords], description: Setting.first.description
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "  viewport"}
    
    = stylesheet_link_tag   'application', media: 'all'
    = javascript_include_tag 'application'
    
    = csrf_meta_tags

  %body{class: "#{controller_name} #{action_name}"}
    =render 'layouts/social'
    =render 'layouts/loading'
    =render 'layouts/header'

    #main
      =yield
      =render 'layouts/second_footer'

    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = javascript_include_tag 'frontload'





