!!!
%html
%head
	= metamagic site: Setting.first.title, title: [:site, :title], separator: " — ", keywords: [:keywords, Setting.first.keywords], description: Setting.first.description
	%meta{:charset => "utf-8"}
	%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "	viewport"}
	
	= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track' => true	
	= csrf_meta_tags

%body
	/ Google Tag Manager
	%noscript
		%iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-594RN8", :style => "display:none;visibility:hidden", :width => "0"}
	:javascript
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-594RN8');
	=render 'layouts/menu'

	#main
		=yield
		=render 'layouts/second_footer'

	= javascript_include_tag 'application', 'data-turbolinks-track' => true	
	= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
	= javascript_include_tag 'frontload'


